.image-upload{
    /* display: ; */
}

.image-upload__preview {
    width: 100px;
    height: 100px;
    border: 1px solid grey;
    margin: auto;
}

.image-preview {
    width: 100px;
    height: 100px;
}